@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section -->
<div class="main">
    <div class="main__container">
        <div class="main__content">
            <h1>NEXT GENERATION OF FASHION</h1>
            <h2></h2>
            <p>See all the new  Fashion Styles on the rise.</p>
            <button class="main__btn"><a href="/">Get Started</a></button>
        </div>
        <div class="main__img--container">
            <img src="images/LOGO 2.png" alt="pic" id="main__img">
        </div>
    </div>
</div>

<div class="services">
    <h1>See what the hype is about</h1>
    <div class="services__container">
        <div class="services__card">
            <h2>Denim Tear Leather Pants</h2>
            <p>Find your size</p>
            <button>Buy Now</button>
        </div>
        <div class="services__card">
            <h2>Palace special edition hoodie</h2>
            <p>Find your size</p>
            <button>Buy Now</button>
        </div>
    </div>
</div>